//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/")
          h3.heading.left IBM 
            span.top-nav--logo-wdc Watson Developer Cloud
        nav.top-nav--nav
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html") Services
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/") Docs
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html") App Gallery
          li.top-nav--nav-item
            a(href="https://developer.ibm.com/watson/") Community
    div.row.header
      div.container
        div.avatar.img-container.col-lg-2.col-md-2.col-sm-2.hidden-xs
          img.service-icon(src='/images/app.png')
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title Natural Language Classifier
          p The IBM Watson Natural Language Classifier service applies deep learning
            | techniques to make predictions about the best predefined classes for short
            | sentences or phrases. The classes can trigger a corresponding action in
            | an application, such as directing a request to a location or person,
            | or answering a question. After training, the service returns information
            | for texts that it hasn't seen before. The response includes the name of
            | the top classes and confidence values.
          div.resource
            img.link-icon(src='/images/link.svg')
            strong Resources:
          div.resource-item-container
            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/#!/natural-language-classifier') API Overview
            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/nl-classifier/') Documentation
            a.resource-item(href='https://github.com/watson-developer-cloud/natural-language-classifier-nodejs') Fork on Github