//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-12
      h2 Try the service
      div.row
        div.col-lg-12.col-md-12.col-xs-12
          p Ask a question about the weather. 
            br
            | Watch how the classifier service uses natural language to determine the intent behind your question.
      div.row
        div.col-lg-10.col-md-10.col-xs-8
          input.questionText.form-control(placeholder='Enter a weather question or Try a sample question below', required='true')
        div.col-lg-2.col-md-2.col-xs-4
          button.btn.btn-block.ask-btn Ask
      div.row
        div.col-lg-12.col-md-12.col-xs-12
          h4 Sample Questions:
          div.example-questions
    div.col-lg-12
      div.row.loading(style='display:none')
        h2 Output
        div.col-lg-12.col-xs-12.text-center
          img(src='images/watson.gif')
      div.results(style='display:none')
        h2 Output
        div.well
          p
            strong Classification: 
            span.classification
          p
            strong Confidence: 
            span.confidence
          p Natural Language Classifier can determine what classification or type of content is passed in.  In this demo, it is trained determine whether the question is related to 'temperature' or 'condition', and will also provide a confidence percentage score.
      div.error(style='display:none;')
        h2 Error
        div.well
          div.errorMsg