//- index.jade
extends ./layout.jade

block row-content
  div.container
    div.row
      div.col-lg-12
        h2 Try the service
        div.row
          div.col-lg-12.col-md-12.col-xs-12
            h3 Ask a question about the weather
            p.help-block Watch the Natural Language Classifier categorize your weather-related question. In this demo, the classifier is trained to determine whether the question is related to <em>temperature</em> or <em>weather</em> conditions. The output includes the top classification and a confidence score.
        div.row
          div.col-lg-10.col-md-10.col-xs-8
            input.questionText.form-control(placeholder='Enter a weather question or Try a sample question below', required='true')
          div.col-lg-2.col-md-2.col-xs-4
            button.btn.btn-block.ask-btn Ask
        div.row
          div.col-lg-6.col-md-6.col-xs-12
            h4 Sample questions
            div.example-questions
          div.col-lg-6.col-md-6.col-xs-12
            p.help-block The classifier often scores well with terms that it hasn't been trained on. In the sample questions, the words "sleet," "foggy," and "typhoon" are not part of the 
              a(href='https://github.com/watson-developer-cloud/natural-language-classifier-nodejs/blob/master/training/weather_data_train.csv', target='_blank') training data
              | , yet the classifier correctly handles questions about them. 
      div.col-lg-12(style='height:300px;')
        div.row
          h2 Output
        div.row.loading(style='display:none')
          div.col-lg-12.col-xs-12.text-center
            img(src='images/watson.gif', width='110px')
        div.results(style='display:none')
          div.well
            p Natural Language Classifier is 
              span.confidence
              |  confident that the question submitted is talking about '
              span.classification
              | '.
            p
              strong Classification: 
              span.classification
            p
              strong Confidence: 
              span.confidence
        div.error(style='display:none;')
          h2 Error
          div.well
            div.errorMsg
